body{
  background-color: hsl(257, 40%, 49%);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;

}

h1{
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}

.top-container{
  position: absolute;
}

.middle-container{
  margin-top: 250px;
  position: absolute;
  width: 100%;
}

#background-image{
  position: absolute;
  width: 100%;
  height: 100%;
}

#logo-image{
  position: relative;
  top: 90px;
  left: 80px;
}

.illustration-image{
  position: absolute;
  display: inline-block;
  margin-left: 6%;
  height: 600px;
}

.title{
  display: inline;
  position: relative;
  left: 55%;
}

.product-description{
  font-size: 18px;
  color: #efefef;
  line-height: 2;
  display: inline;
  position: relative;
  left: 55%;
}

.btn{
color: white;
background-color: #11998e;
border: none;
text-decoration: none;
padding: 20px 40px 20px 40px;
border-radius: 12px;
display: inline-block;
margin: 2em 0 4em 0;
font-size: 2em;
position: relative;
left: 55%;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
